/* Estilos para a página de Login */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: #f9f9f9;
  }
  
  .login-form {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 2px solid #6A0DAD;
  }
  
  .login-form h2 {
    color: #6A0DAD;
  }
  
  .login-form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #6A0DAD;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #5a0d92;
  }
  
  .register-link {
    display: block;
    margin-top: 10px;
    color: #6A0DAD;
    cursor: pointer;
    text-decoration: none;
  }.error {
    color: red;
    font-size: 0.9rem;
    margin-top: 10px;
  }
  
  /* Botão de Registrar */
.register-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #6A0DAD;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #5a0d92;
}

  